#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
h1 {
    display: flex;
    align-items: center;
    margin: 50px;
}

#image {
    display: block;

    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 50px;
}
section {
    font-size: 20px;
    color: rebeccapurple;
}
#tribute-link {
    position: absolute;
    bottom: 5%;
}